@{
    ViewData["Title"] = "Landing Page";
}


<body>
    <div class="body_inter">
        <h1 class="title">WELCOME TO TAMØE!</h1>
        <div class="container_post">
            <div>
                <img src="~/imagenes/panteraLandPage.jpg" />
                <div class="entry">
                    <a class="linea" asp-controller="Product" asp-action="Index"> 
                        <div class="button">
                            <span class="text">Know More!</span>
                            <span class="arrow"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <h2 class="post_rigth">TAMØE the brand that is coming to improve your life </h2>
            </div>
        </div>
    </div>


</body>
