

<div class="container-nav">
    <div><a>Man</a></div>
    <div><a>Woman</a></div>
    <div><a>T-Shirts</a></div>
    <div><a>Pants</a></div>
    <div><a>Shoes</a></div>
    <div><a>Socks</a></div>
</div>
