@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}
@await Html.PartialAsync("~/Views/helpersView/navbarFiltros.cshtml")

@{
    if(Model.Count() != 0)
    {
        @await Html.PartialAsync("~/Views/helpersView/Card.cshtml", Model)
    }
    else
    {
        <h1>There are no products saved</h1>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
    Console.WriteLine("hola");
}