@model TamoeProyect.Models.User;
@{
}
<h1 class="text-white">Register</h1>

<div>
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="text-white"></label>
            <input asp-for="Name" />
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="text-white">Last Name</label>
            <input asp-for="LastName" />
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="text-white"></label>
            <input type="email" asp-for="Email" />
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="text-white"></label>
            <input type="password" asp-for="Password" />
        </div>
        <button class="btn btn-primary">Send!</button>
        <a asp-action="Index" class="btn btn-danger">Cancel</a>

    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptspartial" />
}